$material-icons-font-path: "../icons/material-icons/";
$material-icons-font-size: 1.35rem;

// Material icon sizes
@mixin md-icon-size($size: $material-icons-font-size) {
  font-size: $size;
}

@import "node_modules/material-icons/iconfont/material-icons.scss";

.material-icons.md-xs {
  @include md-icon-size(0.75rem);
}
.material-icons.md-sm {
  @include md-icon-size(1rem);
}
.material-icons.md-lg {
  @include md-icon-size(2rem);
}
.material-icons.md-2x {
  @include md-icon-size(2.7rem);
}
.material-icons.md-3x {
  @include md-icon-size(4.05rem);
}
.material-icons.md-5x {
  @include md-icon-size(6.75rem);
}
.material-icons.md-10x {
  @include md-icon-size(13.5rem);
}
